-
  var pages = {
    top: {
      url: 'index.html',
      name: 'トップページ'
    },
    areaindex: {
      url: 'areaindex.html',
      name: '福岡'
    },
    blog: {
      url: 'blog.html',
      name: '福岡'
    }
  }
