p#toTop_outer
  a(href="#top")#toTop
    | <i class="fal fa-chevron-circle-up"></i>
footer.footer
  div.contain
    p.footer_logo
      a(href="./")
        img(src="./img/common/f_logo.png" alt="恋活.com")
    ul.footer_navi
      li.footer_navi-item
        a(href="")
          | 運営会社
      li.footer_navi-item
        a(href="")
          | プライバシーポリシー
      li.footer_navi-item
        a(href="")
          | お問い合わせ
    div.footer_copy &copy; 恋活.com
