#toTop {
  &_outer {
    background: $color-primary;
    font-size: 1.875rem;
    text-align: center;
  }
  color: $color-white;
  padding: 5px 0;
  display: block;
}

.footer {
  padding: 45px 0 25px;
  &_logo {
    text-align: center;
    margin-bottom: 25px;
    img {
      width: 144px;
      height: auto;
    }
  }
  &_navi {
    margin-bottom: 20px;
    &-item {
      border-bottom: 1px solid $color-border;
      &:first-of-type {
        border-top: 1px solid $color-border;
      }
      a {
        display: block;
        padding: 15px;
        position: relative;
        color: $color-text;
        font-size: 0.9375rem;
        &:after {
          font-family: $font-family-awesome;
          content: "\f0da";
          font-weight: 900;
          position: absolute;
          top: calc(50% - 10px);
          right: 10px;
          color: $color-primary;
        }
      }
    }
  }
  &_copy {
    font-size: 0.75rem;
    color: $color-gray;
    text-align: center;
  }
}
